.container{
  margin: auto;
  box-sizing: border-box;
  display: flex;
  width: 80%;
  min-height: 80%;
  padding: 20px;
  box-shadow: 0 0 10px #8c8b8b;
  border-radius: 10px;
}

img{
  width: 80%;
}


@media screen and (max-width: 825px){
  .container{
    min-height: 70%;
  }
}

