@import "../../commonStyles/input";
@import "../../commonStyles/button";

.imageBlock{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  img{
    width: 100%;
  }
}

.formBlock{
  width: 70%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h3{
    font-size: 30px;
    font-weight: bold;
  }
  >p{
    text-decoration: underline;
    font-style: italic;
    color: orange;
    cursor: pointer;
  }
}

.form {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}

.button{
  @include button(50%, 10px, 10px);
  margin: 30px 0;
}

.inputBlock{
  @include inputGroup(48%, 10px, 10px)
}

.registerInfo{
  width: 70%;
  height: 10%;
  margin-bottom: 30px;
  i{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 1px;
    background: rgb(255,165,0);
    background: linear-gradient(319deg, rgba(255,165,0,1) 16%, rgba(238,179,70,0.7960434173669468) 100%);
  }
}
.red{
  input{
    border-bottom: 3px solid red;
  }
  span{
    color: red;
  }
  input:valid~span{
    color: red;
  }
}

@media screen and (max-width: 825px){
  .imageBlock{
    display: none;
  }
  .formBlock{
    width: 100%;
  }
  .form, .registerInfo{
    width: 100%;
  }
}
